
body
{
    margin:30px;
}

/*button*/
.button-8 {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-8:hover,
.button-8:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.button-8:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-8:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}


/*Sex block*/

.sex-block
{
    display: flex;
    padding-top: 30px;
}
.sex-content{
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
}
.sex-select{
  margin-right: 10px;
}
.category
{
    display: flex;
    padding-top: 30px;
}
select
{
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 20px;
    padding: 5px;
}
#pricing
{
  padding-top: 50px;
}
.whole-body-card
{
  /* max-width: 60%; */
}
#whole14{
  padding-top: 20px;
}
.whole-body{
  padding-top: 30px;
}

.submit-btn
{
  padding-top: 30px;
  padding-left: 45%;
}


/*Input */
input{
  max-width: 40%;
}

#line1{
  display: flex;
  padding-bottom: 15px;
}
#ans1
{
  padding-left: 10px;
}